{% extends '::layout.html.twig' %}

{% block body -%}
    <h1>Poste edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('poste') }}">
            Liste des annonces
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
