{% extends "RecoverErecoverBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block recovererecover_body %}
    <h1>Menu edit</h1>
	<hr>
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('menu') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
