{% extends "RecoverErecoverBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block recovererecover_body %}
    <h1>Facture edit</h1>

    {{ form(edit_form) }}

        <ul class="table table-striped">
    <li>
        <a href="{{ path('facture', {'page':1}) }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
